body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
    margin: 0;
    font-family: Arial, sans-serif;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.face {
    width: 200px;
    height: 200px;
    background: #333;
    border-radius: 50%;
    position: relative;
    border: 10px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.numbers {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    transform: rotate(-90deg);
}

.number {
    position: absolute;
    transform-origin: center center;
}

.number div {
    transform: rotate(0deg);
}

.hand {
    width: 50%;
    height: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour {
    width: 30%;
    background: rgb(13, 0, 255);
}

.minute {
    width: 40%;
    background: green;
}

.second {
    width: 50%;
    background: rgb(234, 255, 0);
}

.info {
    margin-top: 20px;
    color: white;
    display: flex;
    gap: 10px;
}

.info span {
    padding: 5px 10px;
    border-radius: 5px;
}

.red {
    background-color: #260cb7;
}

.yellow {
    background-color: #0ff140;
}

.green {
    background-color: #e7f707;
}
